<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jcolley.anywere2.android.consumer"
      android:versionCode="9"
      android:versionName="7.2">
    <application android:icon="@drawable/ic_launcher" android:label="@string/appName">
        <activity android:name=".Consumer"
                  android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageContentView"
                  android:label="@string/appName"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".VideoContentView"
                  android:label="@string/appName">
        </activity>
        <activity android:name=".AudioContentView"
                  android:label="@string/appName">
        </activity>
        <activity android:name=".WebContentView"
                  android:label="@string/appName"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
		<service android:name=".LocationService">
			<intent-filter>
				<action android:name="com.jcolley.anywere2.android.consumer.LocationService" />
			</intent-filter>
		</service>
    </application>
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest> 